.container{
    min-height: calc(100vh - 180px);
    padding: 20px;
}

.descritiva{
    margin: 0 auto;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    display: block;
    justify-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border: 1px solid rgb(104, 100, 100);
    border-radius: 5px;
    box-shadow: 1px 2px rgba(58, 57, 57, 0.2); 
}

.descritiva label{
    width: 100%;
    /* display: block; */
    font-weight: bold;
}

.descritiva input{
    min-width: 95%;
    display: block;
    margin: 8px 0;
    border: none;
    border-bottom: 0.5px solid rgb(110, 106, 106);
}

.select {
    padding: 10px;
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
select{
    width: 300px;
    font-size: 24px;
    padding: 2px;
    margin: 10px 0;
    border: none;
    border-bottom: solid;
}


.range{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 10px;
}
.range input{
    max-width: 100px;
    border-bottom: solid;
}

button{
    padding: 20px;
    font-size: 20px;
    max-width: 150px;
}

button:hover{
    background-color: rgba(63, 125, 128, 0.8);
    box-shadow: 2px 2px gray;
}


.result{
    margin: 10px auto;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid rgb(104, 100, 100);
    border-radius: 5px;
    box-shadow: 1px 2px rgba(58, 57, 57, 0.2); 
}

.result div{
    text-align: justify;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: solid;
}

@media(max-width: 900px){
    input{
        max-width: 100%;
    }
    .select {
        padding: 10px;
        margin: 0 auto;
        width: 80%;
        display: block;
        justify-content: center;
        justify-items: center;
    }
    select{
        margin: 15px;
        max-width: 90%;
    }
    .range {
        width: 90%;
    }

    .result{
        display: block;
        margin: 10 auto;
    }
    .result div{
        width: 100%;
        margin: 10 auto;
        width: 80%;
    }
}